<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New user</title>
</head>
<body>
<h1>Add New user</h1>

<form action="/userr/" method="POST">
  <label for="userid">user_id:</label>
  <input type="text" id="userid" name="userid" required><br><br>

  <label for="userType">user Type:</label>
  <input type="text" id="userType" name="userType" required><br><br>

  <label for="userName">user Name:</label>
  <input type="text" id="userName" name="userName" required><br><br>

  <label for="userEmail">user Email:</label>
  <input type="text" id="userEmail" name="userEmail" required><br><br>

  <label for="createdAt">Created At:</label>
  <input type="datetime-local" id="createdAt" name="createdAt" required><br><br>

  <label for="createdBy">Created By:</label>
  <input type="text" id="createdBy" name="createdBy" required><br><br>

  <label for="addres">addres:</label>
  <input type="text" id="addres" name="addres" required><br><br>

  <label for="phoneNumber">phone Number:</label>
  <input type="phoneNumber" id="phoneNumber" name="phoneNumber" required><br><br>

  <button type="submit">Add Seller</button>
</form>

</body>
</html>